.tile-txt{
    color: #91A4AE;
}
.form-box{
    padding: 0.5rem 0.4rem;
 
 }
 .form-description{
     color: #32343a61;
 }
 .form-control{
    height: calc(2.25rem + 16px);
    border-radius: 0;
}
.table thead th{
    border-bottom: none; 
}
.table th{
    border-top: 1px solid #efefef;
    padding: .9rem;
}
.table td{
    padding: .9rem;
}
.btn-line-primary-bridge{
    background-color: transparent;
    color: #172B50;
    height: 46px;
    border-radius: 0;
    border: 1px solid #172B50;
    padding: 10px 32px;
}
.btn-primary-bridge-close{
    background-color: #ffff;
    color: #172B50;
    height: 45px;
    border-radius: 0;
    border: 1px solid #172B50;
}
.modal-content{
     border-radius: 0; 
}
.modal-body{
    height: 70vh;
    overflow-y: scroll;
}
.material-table-th{
    background-color: transparent;
}
.table-wraper{
    background: #fafdff;
    padding: 20px;
  
    box-shadow: 0 1px 4px rgba(123, 123, 123, 0.3), 0px 7px 17px 0px rgb(255, 255, 255);
}
.table-hover tbody tr:hover{
    background-color: #cccccc0d;
}
.table th {
    border-top: none;}